<template name="App_body">
  <div class="aside-wrapper flex-center">
    <div class="container-wider">
      <div class="height-100 flex-left">
        {{> Aside}}
      </div>
    </div>
  </div>

  <div class="main-wrapper">
    <div class="flex-center">
      <div class="container-wider">
        <div class="flex-left units-gap-big">
          <div class="site-height-0 unit-1-4"></div>
          <div class="main unit-3-4">
            {{> Template.dynamic template=main}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>